.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('../images/login3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.error-alert {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  width: 400px;
  text-align: center;
  z-index: 1050;
}

.login-card {
  max-width: 450px;
  min-height: 450px;
  width: 100%;
  background-color: #ffffff;
  color: #001f3f;
  border: 1px solid #e2e8f0;
  z-index: 2;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 8px; 
}


.text-navy {
  color: #001f3f;
}

.btn-navy {
  background-color: #001f3f;
  color: white;
  border: 1px solid #001f3f;
}

.footer-text {
  color: #001f3f;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.btn-navy:hover,
.btn-navy:focus,
.btn-navy:active {
  background-color: #001f3f;
  color: white;
  border-color: #001f3f;
  box-shadow: none;
  outline: none;
}

@media (max-width: 768px) {
  .login-card {
    max-width: 90%; 
    min-height: 400px; 
    padding: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .login-card {
    max-width: 95%; 
    min-height: 370px;
    padding: 1rem;
  }
}
