 @media (min-width: 1060px) and (max-width: 1280px) {
    .nav-links {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .nav-links .nav-item {
      margin-right: 10px;  
    }
    .nav-links .contact-link {
      flex-shrink: 0;  
    }
  }
.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0f2557, #093f54); /* blue gradient */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}
.third {
  color: #ffffff;
  border: 3px solid #0f2557;
  background-image: linear-gradient(30deg, #0f2557 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background-position 600ms ease-in-out, color 400ms ease-in-out, background-color 400ms ease-in-out;
}

.third:hover {
  background-position: 130%;
  color: #0f2557;
  background-color: #ffffff;
}




