:root {
  --primary-color: #0f2557;
  --secondary-color: rgba(235, 236, 223, 0.2);
}

#services-section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services-section h2 {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.cardsService {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 380px));
  justify-content: center;
  gap: 25px;
  z-index: 9;
  width: 100%;
}

.cardsService .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background:  linear-gradient(to bottom right, #e3ecf0, #e7e5e5);
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 100%;
  min-height: 100%;
}

.cardsService .card::before {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: var(--primary-color);
  transform: rotate(0deg);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.cardsService .card:hover.card::before {
  transform: rotate(10deg);
}

.cardsService .card .icons {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  color: var(--primary-color);
}

.cardsService .card h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.cardsService .card .content p {
  color: var(--primary-color);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: 500;
}
.catButton {
  color: #ffffff;
  border: 3px solid #0f2557;
  background-image: linear-gradient(30deg, #0f2557 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background-position 600ms ease-in-out, color 400ms ease-in-out,
    background-color 400ms ease-in-out;
}

.catButton:hover {
  background-position: 130%;
  color: #0f2557;
  background-color: #ffffff;
}

@media (max-width: 1100px) {
  #services-section h2 {
    margin-top: 30px;
  }

  #services-section #paragraph {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .cardsService .card {
    padding: 1rem;
  }

  #services-section #paragraph {
    font-size: 0.85rem;
  }

  .cardsService .card h3 {
    font-size: 1.1rem;
  }

  .cardsService .card .content p {
    font-size: 0.85rem;
  }

  .cardsService .card .icons {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .cardsService > .card:nth-last-child(1):nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}

