.custom-pagination .swiper-pagination-bullet {
  background-color: #4c6ef5; 
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.custom-pagination .swiper-pagination-bullet-active {
  background-color: #2c3e50; 
}
.testimonials{
  background:  linear-gradient(to bottom right, #e3ecf0, #e7e5e5);
}